body {
  font-family: Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.headerContainer {
  display: grid;
}
.headerContainer {
  height: 40px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  border-bottom: 3px solid #57616c;
}
.header {
  height: auto;
  background-color: #232f3e;
}
.header--menu {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 6px 0 0 10px;
}
.header--menu i {
  font-size: 24px;
  color: #fff;
}
.header--menu i:hover {
  cursor: pointer;
}
.header--logo {
  grid-column-start: 3;
  grid-column-end: 9;
  padding-top: 8px;
}
.header--logo img {
  width: 80px;
  height: 24px;
}
.header--user {
  grid-column-start: 9;
  grid-column-end: 10;
  padding: 6px 0 0 0;
}
.header--user i {
  font-size: 24px;
  color: #fff;
}
.header--user i:hover {
  cursor: pointer;
}
.header--checkout {
  grid-column-start: 10;
  grid-column-end: 11;
  padding: 6px 0 0 0;
  margin-left: 20px;
}
.header--checkout i {
  font-size: 24px;
  color: #fff;
}
.header--checkout i:hover {
  cursor: pointer;
}
.header--search {
  width: 100%;
  padding: 0 10px;
}
.header--search input[type=text] {
  width: 80%;
  padding-left: 10px;
  font-size: 14px;
  height: 46px;
  border: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.header--search input[type=button] {
  position: absolute;
  width: 17%;
  height: 46px;
  background-color: #fcbb6a;
  height: 46px;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.header--ubication {
  background-color: #3c516b;
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.header--ubication i {
  padding: 0 10px;
  font-size: 20px;
}
.header--ubication__span {
  font-weight: 600;
}
.navbar {
  overflow-x: scroll;
  width: auto;
}
.navbar--ul {
  display: flex;
  height: 56px;
  align-items: center;
}
.navbar--ul__li {
  margin: 10px;
  white-space: nowrap;
}
.navbar--ul__li a {
  color: #fff;
  font-weight: 600;
}
.session {
  border-top: 5px solid #c0c0c0;
  border-bottom: 5px solid #c0c0c0;
  padding: 0 10px;
}
.session--information {
  height: 60px;
}
.session--information__title {
  font-weight: 400;
  font-size: 20px;
}
.session--login {
  background-color: #faa41a;
  height: 50px;
  margin-bottom: 18px;
}
.session--login__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #000;
}
.session--create {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.session--create__anchor {
  color: #0066c0;
}
.session--create i {
  opacity: 0.5;
}
.products--offer {
  border-top: 5px solid #c0c0c0;
  border-bottom: 5px solid #c0c0c0;
  padding: 10px 10px 0 10px;
}
.products--offer__img {
  object-fit: cover;
  width: 100%;
  height: 230px;
}
.products--offer__information,
.products--offer__price {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  color: #404040;
  margin: 10px 0;
}
.products--offer__moreOffers {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e6e6e6;
  margin: 16px 0;
  padding-top: 10px;
}
.products--offer__moreOffers i {
  opacity: 0.5;
}
.products--offer__moreOffers a {
  color: #0066c0;
}
.products--container {
  padding: 10px;
}
.products--container__title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.products--grid {
  display: grid;
  grid-template: 50% 50%/50% 50%;
}
.products--important {
  border-top: 5px solid #c0c0c0;
  border-bottom: 5px solid #c0c0c0;
}
.products--important__title {
  padding: 10px 10px 0 10px;
  font-weight: 500;
}
.products--important__img {
  display: flex;
  justify-content: center;
  margin: 4%;
}
.products--important__img img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}
.footer--sites__goUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #3c516b;
  height: 50px;
  text-transform: uppercase;
}
.footer--sites__goUp span {
  font-size: 11px;
}
.footer--sites__container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
  background-color: #232f3e;
  padding-bottom: 20px;
}
.footer--sites__container a {
  color: #fff;
}
.footer--sites__container ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 42px;
  padding-left: 20px;
  font-weight: 600;
}
.footer--sites__left,
.footer--sites__right {
  height: auto;
}
.footer--account {
  background-color: #0d141e;
  color: #fff;
  padding: 20px;
}
.footer--account__login {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 600;
}
.footer--account__conditionsAndTerms {
  width: 100%;
}
.footer--account__conditionsAndTerms li {
  display: inline-block;
  text-align: center;
  height: 20px;
  margin-right: 20px;
}
.footer--account__conditionsAndTerms li a {
  color: #fff;
  font-size: 11px;
}
