.navbar
    overflow-x: scroll
    width: auto
    &--ul
        display: flex
        height: 56px
        align-items: center
        &__li
            margin: 10px
            white-space: nowrap
            a
                color: $light-color
                font-weight: 600